<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" href="../../static/layui/css/layui.css"
          media="all"/>
    <style>
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">Edit password</div>
        <div class="layui-card-body">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-input-inline layui-hide">
                    <input type="text" name="userId" th:value="${session.user.userId}" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Current password</label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldPwd" lay-verType="tips"  lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">New password</label>
                    <div class="layui-input-inline">
                        <input type="password"id="newPassword" name="newPwd" lay-verType="tips" lay-verify="required|format_verify"  autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">8-16 digits and letters</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Confirm password</label>
                    <div class="layui-input-inline">
                        <input type="password" id="rePassword" name="rePassword"  lay-verType="tips" lay-verify="required|new_re_same" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="button" class="layui-btn" lay-verType="tips" lay-submit lay-filter="updatePwd"
                           id="component-form-element"
                           value="Confirm Modification">
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/layuiadmin/layui/layui.js}" src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', "layer"], function () {
        var $ = layui.$
            , form = layui.form
            , laydate = layui.laydate
            , layer = layui.layer;

        //from
        //submitlay-filter
        form.on('submit(updatePwd)', function (data) {
            var field = data.field; //
            // Ajax ，
            $.ajax({
                url: "/restaurant/user/updatepwd.do",
                type: "post",
                dataType: "JSON",
                data: field,
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg("The password is changed successfully! The next login will take effect！", {icon: 6});
                    } else {
                        layer.alert(result.msg, {
                            title: 'Submission Result'
                            , anim: 5
                        });
                    }
                }
            });
        });
        //
        laydate.render({
            elem: '#birthday'
            , format: 'yyyy-MM-dd' //
        });
        //
        form.verify({
            //
            new_re_same: function (value, item) {
               var newPwd =  $('#newPassword').val();
               var rePwd = $('#rePassword').val();
                if (newPwd!=rePwd) {
                    return 'The password entered twice is not the same!';
                }
            },
            //
            format_verify:function (value,item) {
                if(!/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/.test(value)){
                    return "Incorrect password format！";
                }
            }
        });
    });
</script>
</html>