<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic information</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" href="../../static/layui/css/layui.css"
          media="all"/>
    <style>
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" action="" lay-filter="component-form-element">
            <div class="layui-form-item">
                <div class="layui-input-inline layui-hide">
                    <input type="text" name="userId" th:value="${currentUser.userId}" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Name</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${currentUser.name}" name="name" lay-verify="required"
                                   placeholder=""
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Sex</label>
                        <div class="layui-input-block">
                            <th:block th:if="${currentUser.gender}=='M'">
                                <input type="radio" name="gender" value="M" title="Male" checked>
                                <input type="radio" name="gender" value="F" title="Female">
                            </th:block>
                            <th:block th:if="${currentUser.gender}=='F'">
                                <input type="radio" name="gender" value="M" title="Male">
                                <input type="radio" name="gender" value="F" title="Female" checked>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Phone</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${currentUser.phone}" name="phone" lay-verify="required|phone"
                                   placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Email</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" th:value="${currentUser.email}" lay-verify="required|email"
                                   placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Birth</label>
                        <div class="layui-input-block">
                            <input type="text" id="birthday" th:value="${birthday}" name="birthday"
                                   lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <label class="layui-form-label">Id number</label>
                        <div class="layui-input-block">
                            <input type="text" name="IdNumber" th:value="${currentUser.idNumber}" placeholder=""
                                   lay-verify="identity" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md8">
                        <div class="layui-form-text">
                            <label class="layui-form-label">Home address</label>
                            <div class="layui-input-block">
                                <textarea name="address" th:text="${currentUser.address}" placeholder="Please enter information"
                                          lay-verify="required" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="button" class="layui-btn" lay-submit lay-filter="component-form-element"
                       id="component-form-element"
                       value="Edit">
                <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>
</div>
<script th:src="@{/layuiadmin/layui/layui.js}" src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', "layer"], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , form = layui.form
            , laydate = layui.laydate
            , layer = layui.layer;

        //from
        //submitlay-filter
        form.on('submit(component-form-element)', function (data) {
            var field = data.field; //
            // Ajax ，
            $.ajax({
                url: "/restaurant/user/saveEdit.do",
                type: "post",
                dataType: "JSON",
                data: field,
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg("Change sucessfully!", {icon: 6});
                    } else {
                        layer.alert(result.msg, {
                            title: 'Submit resutl'
                            , anim: 6
                        });
                    }
                }
            });
        });
        //
        laydate.render({
            elem: '#birthday'
            , format: 'yyyy-MM-dd' //
        });
    });
</script>
</body>
</html>