<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales Volume</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" href="../../static/layui/css/layui.css"
          media="all"/>
    <style>
        body, html {
            background: #eeeeee;
            margin: 5px;
            height: 98%;
        }

        .content {
            height: 100%;
        }
    </style>
</head>
<body>
<div class="layui-fluid content">
    <div class="layui-row layui-col-space15 content">
        <div class="layui-col-md8 content">
            <div class="layui-card content">
                <div class="layui-card-header">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md4 layui-col-md-offset8">
                                    <div class="layui-inline">
                                        <select name="day" lay-filter="chart1Day" style="border-color: #00FF00">
                                            <option value="0">Today</option>
                                            <option value="6" selected>Recent 7 days</option>
                                            <option value="14">Recent 15 days</option>
                                            <option value="29">Recent 30 days</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body" style="height: 90%">
                    <div id="chart1" style="height: 100%;">

                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 content">
            <div class="layui-card content">
                <div class="layui-card-header">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md4 layui-col-md-offset8">
                                    <div class="layui-inline">
                                        <select name="day" lay-filter="chart2Day" style="border-color: #00FF00">
                                            <option value="0">Today</option>
                                            <option value="7" selected>Recent 7 days</option>
                                            <option value="15">Recent 15 days</option>
                                            <option value="30">Recent 30 days</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body" style="height: 90%">
                    <div id="chart2" style="height: 100%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layuiadmin/layui/layui.js}" src="../../static/layuiadmin/layui/layui.js"></script>
<script th:src="@{/js/dist/echarts.js}"></script>
<script th:src="@{/js/macarons.js}" src="../../static/js/macarons.js"></script>
<script type="text/javascript">
    require.config({
        paths: {
            echarts: '/restaurant/js/dist'
        }
    });
    layui.use(['table', 'laydate'], function () {
        var $ = layui.$;
        var form = layui.form;
        //
        chart1NetworkRequest(6);
        //
        chart2NetworkRequest(6);

        form.on('select(chart1Day)', function (data) {
            var day = data.value;
            chart1NetworkRequest(day);
        });
        form.on('select(chart2Day)', function (data) {
            var day = data.value;
            chart2NetworkRequest(day);
        });

        /**
         *
         */
        function chart1NetworkRequest(day) {
            $.ajax({
                url: '/restaurant/analysis/gssByDays.do',
                type: "GET",
                dataType: "JSON",
                data: {
                    day: day
                },
                success: function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        var nameArray = [];
                        var countArray = [];
                        console.log("data", data);
                        for (var i = 0; i < data.length; i++) {
                            nameArray.push(data[i].goodsName);
                            countArray.push(data[i].count);
                        }
                        loadChart1(nameArray, countArray);
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                }
            });
        }

        /**
         *
         */
        function chart2NetworkRequest(day) {
            $.ajax({
                url: '/restaurant/analysis/gcsByDays.do',
                type: "GET",
                dataType: "JSON",
                data: {
                    day: day
                },
                success: function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        var nameArray = [];
                        var countArray = [];
                        console.log("data", data);
                        for (var i = 0; i < data.length; i++) {
                            nameArray.push(data[i].categoryName);
                            var valueAndName = {}
                            valueAndName.name = data[i].categoryName;
                            valueAndName.value = data[i].count;
                            countArray.push(valueAndName);
                        }
                        loadChart2(nameArray, countArray);
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                }
            });
        }
    });

    //
    function loadChart1(nameArray, countArray) {
        require(
            [
                'echarts',
                'echarts/chart/line',
                'echarts/chart/bar'
            ],
            function (echarts) {
                // dom，echarts
                var myChart1 = echarts.init(document.getElementById('chart1'), 'macarons');
                var option1 = {
                    title: {
                        text: 'Top dishes',
                        // subtext: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#1e90ff',
                                width: 1,
                                type: 'dashed'
                            },

                        }
                    },
                    legend: {
                        data: ['Sales']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    itemStyle: {
                        //
                        normal: {
                            //
                            barBorderRadius: [12, 12, 12, 12],
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            axisLabel: {
                                rotate: 20
                            },
                            data: nameArray
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} dishes'
                            }
                        }
                    ],
                    series: [
                        {
                            name: 'Sales',
                            type: 'bar',
                            data: countArray,
                            markPoint: {
                                data: [
                                    {type: 'max', name: 'Maximum'},
                                    {type: 'min', name: 'Minimum'}
                                ]
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: 'Average'}
                                ]
                            }
                        }
                    ]
                };
                // echarts
                myChart1.setOption(option1);
            });
    }

    //2
    function loadChart2(nameArray, countArray) {
        require(
            [
                'echarts',
                'echarts/chart/pie',
                'echarts/chart/funnel'
            ],
            function (echarts) {
                var myChart2 = echarts.init(document.getElementById('chart2'), 'macarons');
                var option2 = {
                    title: {
                        text: 'Dishes type sales analysis',
                        //subtext: '',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: nameArray
                    },
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: false,
                    series: [
                        {
                            name: 'Dishes type',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: countArray
                        }
                    ]
                };
                myChart2.setOption(option2);
            });
    }
</script>
</body>
</html>